/*
    CS 3354.005 Fall 2022
    Group 5: Dean Greenberg, Noel Johnson, Oscar Mata-Galvan, Vaughan McInerney, Ruchi Patel, Naod Tesfay
    Professor Srimathi Srinivasan

    This file created by Noel Johnson (nxj190008) and edited by Vaughan McInerney (vmm190002).

    This CSS file provides styling for the App component.
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600&display=swap');

body{
    font-family: 'Roboto Mono', sans-serif;;
}

*{
    font-family: "Roboto Mono", sans-serif;
}


*{
background-color: white;
}